/**
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

**/

#menu {
  position: relative;
  top:0;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wow #text2 {
  display: none;
}

#wow:hover #text2 {
  display: block;
}

#wow:hover #text1 {
  display: none;
}

#menu h1{
  padding-left: 10%;
  font-weight:400;
  font-size:calc(1.8rem + 3.6vmin);
  margin-bottom:1vh
}

#menu h2{
  padding-left: 10%;
  font-weight:400;
  font-size:calc(.7rem + .9vmin);
  margin-bottom:6vh;
  letter-spacing:.22rem
}

#menu p{
  padding-left: 10%;
  margin-bottom:4vh;
  font-size:calc(.5rem + 3.6vmin)
}

#menu a{
  color: inherit;
  text-decoration: inherit;
}

#menu a:hover {
  color: teal;
  opacity: .2;
  text-shadow: 1px 1px 2px pink;
}

a:active,a:link,a:visited {
    color: #000;
    text-decoration: none;
    outline: 0
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000
}

#loading p {
    display: block;
    width: calc(30px + 3vmin);
    height: 2.5px;
    background: #000;
    -webkit-animation: animLoadingTop .3s ease-in-out infinite alternate;
    animation: animLoadingTop .3s ease-in-out infinite alternate
}

a,body,html {
    -webkit-tap-highlight-color: transparent
}

.loader {
  
}


@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    border-radius: 50%; 
  }
  25% {
  
  }
  50% {
    border-radius: 10%;

  }
  75% {
    
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
    border-radius: 50%;
  }
}
.spinner {
    transition: opacity linear 0.1s;    

    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
    opacity: inherit;
    position: absolute;
  
    border-right-color: red;
    border-bottom-color: red;
    border-top-color: red;
    border-left-color: red;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform-origin: center;
  
    transition:
    
    border-right-color 0.15s linear 0.10s,
    border-bottom-color 0.15s linear 0.20s;
    
    will-change: transform;
}

@keyframes loader {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg); 
    border-radius: 50%;
    width: 0px;
    height: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  20% {
    width: 20px;
    height: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  40% {
    border-radius: 10%;
    width: 20px;
    height: 20px;
    border-left-color: black;
    border-right-color: black;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  55% {
    border-radius: 10%;
    width: 20px;
    height: 20px;
    border-left-color: black;
    border-right-color: black;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  60% {
    width: 20px;
    height: 20px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  80% {
    width: 20px;
    height: 20px;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
  }
  90% {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(-360deg);
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.loader {
  width: 0%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  animation: 3s linear infinite loader;
}