

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
  max-width: 100%;
  overflow: hidden;
}


.header {
  display: inherit;
  z-index: 2;
  position: sticky;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.expand-header {
  width: 100%;
  height: 10vh;
  background-color: white;
  border-bottom: 5px solid;
  border-bottom-color: black;
  
  -webkit-transition: height 0.5s ease-out; /* Safari prior 6.1 */
  transition: height 0.5s ease-out;
}

.header-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  right: 50;
}

.opacityCity {
  opacity: 100;
  display: block;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  /*position: relative;*/
  /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  padding-top: 4vh;
  display: none;
  position: relative;
  /*min-width: 160px;*/
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-div  {
  padding-left: 5vw;
  padding-right: 5vw;
  position: relative;
  align-content: center;
  color: black;

  
  text-decoration: none;
  display: block;
}

.dropdown-option {
  width: 20vw;
  height: 30vh;
  border: 5px solid;
  border-color: black;
  opacity: 0;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-option{
  animation: animate 1000ms ease-in-out forwards;
  animation-delay: 300ms;
}


@keyframes animate{
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .expand-header {
  height: 50vh;
}

.dropdown:hover .opacityCity {
  opacity: 0;
}

.dropdown:hover .header {
  opacity: 0;
}


/* Establish Megrim Font */
@font-face{
  font-family: Megrim;
  src: url(../webfonts/megrim/Megrim.ttf);
  font-weight: bold;
}

h1 {
  font-family: Megrim;
  font-size: 10vw; /* doesn't work? */
}

/* Unselectable Text For Design */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Control the Left Screen */
.split-left {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  
  left: 0;
  background-color: white;
  border-right: 5px solid;
  border-right-color: black;
  overflow-x: hidden;
  
  /*
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  */
  

  /*https://www.colorzilla.com/gradient-editor/*/
}

/* Control the Right Screen */
.split-right {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  
  right: 0;
}


/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}